*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

.game{
    border-bottom: 1px solid;
    height: 300px;
    width: 800px;
    position: relative;
    overflow: hidden;
}

.score{
    position: absolute;
    top: 30px;
    left: 0;
    font-size: x-large;
}

.personagem{
    position: absolute;
    bottom: 0;
    background-image: url(imagem/personagem.gif);
    width: 280px;
    height: 210px;
    background-size: 280px;
    background-repeat: no-repeat;
    transform: scaleX(1);
}

.cato{
    position: absolute;
    bottom: 0;
    background-image: url(imagem/cacto.png);
    width: 35px;
    height: 70px;
    background-size: 35px;
    background-repeat: no-repeat;
    animation: cato 3s linear infinite;
}

@keyframes cato {
    0% {
        right: -20px;
    }
    100%{
        right: 850px;
    }
}